Eliminator3000/Logs
Eliminator3000/UserSettings
Eliminator3000/Temp
Eliminator3000/Library
Eliminator3000/Eliminator3000.sln
Eliminator3000/.vsconfig
Eliminator3000/Assembly-CSharp.csproj
Eliminator3000/Assembly-CSharp-Editor.csproj
